{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>server Room</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'server/room.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="container" id="cross-ring-choice">
            <div class="row">
                <div class="col"><input type="radio" name="choice" value="O"> Ring </div>
                <div class="col"><input type="radio" name="choice" value="X"> Cross </div>
                <div class="col"><input type="button" id="choice-btn" value="Select"></div>
            </div>      
        </div>
        <div id="which-player"></div>
        <br>
        <button class="" id="reset-btn">New Game</button>
        <br>
        <div id="game-result"></div>
    </div>

    <div class="game-container">
        <div class="container board">
            <div class="row">
                <div role="button" class="col game-square" id="top-left"></div>
                <div role="button" class="col game-square" id="top-mid"></div>
                <div role="button" class="col game-square" id="top-right"></div>
            </div>
            <div class="row">
                <div role="button" class="col game-square" id="mid-left"></div>
                <div role="button" class="col game-square" id="mid-mid"></div>
                <div role="button" class="col game-square" id="mid-right"></div>
            </div>
            <div class="row">
                <div role="button" class="col game-square" id="bot-left"></div>
                <div role="button" class="col game-square" id="bot-mid"></div>
                <div role="button" class="col game-square" id="bot-right"></div>
            </div>
        </div>
    </div>

    {{ room_name|json_script:"room-name" }}
    <script>

        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const serverSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/server/'
            + roomName
            + '/'
        );

        const choice_btn = document.querySelector('#choice-btn');
        let selectedValue=null;
        choice_btn.onclick = function () {
            const rbs = document.querySelectorAll('input[name="choice"]');

            for (const rb of rbs) {
                if (rb.checked) {
                    selectedValue = rb.value;
                    break;
                }
            }
            document.getElementById('which-player').textContent = 'You are ' + selectedValue + ' player!'
            document.getElementById('cross-ring-choice').style.display = 'none';
        };

        const reset_btn = document.querySelector('#reset-btn')
        reset_btn.onclick = function () {
            console.log('reset');
            serverSocket.send(JSON.stringify({
                'message': 'reset',
                'text': ''
            }));
        };

        const squares = document.querySelectorAll('.game-square');

        serverSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            if(data.message=='reset'){
                location.reload();
            } 
            else if( document.getElementById(data.message).textContent == ''){
                document.getElementById(data.message).textContent = data.text;
            }

            if(data.game_result != false){
                //if game over
                selectedValue=''
                if(data.game_result =='Draw'){
                    document.getElementById('game-result').textContent = 'It\'s a Draw!';
                }
                else{
                    document.getElementById('game-result').textContent='Player: ' + data.game_result + ' wins!';
                }
            }
            else{
                let next_turn = '';
                if(data.text == 'X') {
                    next_turn = 'O';
                }
                else if(data.text == 'O') {
                    next_turn = 'X';
                }
                document.getElementById('game-result').textContent = 'Now is ' + next_turn + ' turn!';
            }

            for(let i=0;i<3;i++){
                for(let j=0;j<3;j++){
                    squares[i*3+j].textContent=data.board[i][j];
                }
            }

        };


        serverSocket.onclose = function(e) {
            console.error('server socket closed unexpectedly');
        };


        squares.forEach((e) => {
            e.onclick = function(event) {
                serverSocket.send(JSON.stringify({
                    'message': e.id,
                    'text': selectedValue
                }));
            }
        }) 
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>