{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>server Room</title>
    <link rel="stylesheet" type="text/css" href="{% static 'server/room.css' %}">
</head>
<body>
        <input type="radio" name="choice" value="o"> Ring
        <input type="radio" name="choice" value="x"> Cross
        <input type="button" id="btn" value="Show Selected Value">
    <table>
        <tbody>
            <tr>
                <td  role="button" class="game-square" id="top-left">{{board.0.0}}</td>
                <td role="button" class="game-square" id="top-mid">{{board.0.1}}</td>
                <td role="button" class="game-square" id="top-right">{{board.0.2}}</td>
            </tr>
            <tr>
                <td role="button" class="game-square" id="mid-left">{{board.1.0}}</td>
                <td role="button" class="game-square" id="mid-mid">{{board.1.1}}</td>
                <td role="button" class="game-square" id="mid-right">{{board.1.2}}</td>
            </tr>
            <tr>
                <td role="button" class="game-square" id="bot-left">{{board.2.0}}</td>
                <td role="button" class="game-square" id="bot-mid">{{board.2.1}}</td>
                <td role="button" class="game-square" id="bot-right">{{board.2.2}}</td>
            </tr>
        </tbody>
    </table>

    {{ room_name|json_script:"room-name" }}
    <script>

        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const serverSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/server/'
            + roomName
            + '/'
        );

        const btn = document.querySelector('#btn');
        // handle click button
        let selectedValue=null;
        btn.onclick = function () {
            const rbs = document.querySelectorAll('input[name="choice"]');

            for (const rb of rbs) {
                if (rb.checked) {
                    selectedValue = rb.value;
                    break;
                }
            }
        };
        

        serverSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.getElementById(data.message).textContent=data.text;
        };


        serverSocket.onclose = function(e) {
            console.error('server socket closed unexpectedly');
        };


        const squares = document.querySelectorAll('.game-square');

        squares.forEach((e) => {
            e.onclick = function(event) {
                serverSocket.send(JSON.stringify({
                    'message': e.id,
                    'text': selectedValue
                }));
            }
        }) 
    </script>
</body>
</html>