{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>server Room</title>
    <link rel="stylesheet" type="text/css" href="{% static 'server/room.css' %}">
</head>
<body>
    <div id="cross-ring-choice">
        <input type="radio" name="choice" value="o"> Ring
        <input type="radio" name="choice" value="x"> Cross
        <input type="button" id="choice-btn" value="Select">
    </div>
    <div id="game-result"></div>
    <button id="reset-btn">New Game</button>
    <table>
        <tbody>
            <tr>
                <td role="button" class="game-square" id="top-left">{{board.0.0}}</td>
                <td role="button" class="game-square" id="top-mid">{{board.0.1}}</td>
                <td role="button" class="game-square" id="top-right">{{board.0.2}}</td>
            </tr>
            <tr>
                <td role="button" class="game-square" id="mid-left">{{board.1.0}}</td>
                <td role="button" class="game-square" id="mid-mid">{{board.1.1}}</td>
                <td role="button" class="game-square" id="mid-right">{{board.1.2}}</td>
            </tr>
            <tr>
                <td role="button" class="game-square" id="bot-left">{{board.2.0}}</td>
                <td role="button" class="game-square" id="bot-mid">{{board.2.1}}</td>
                <td role="button" class="game-square" id="bot-right">{{board.2.2}}</td>
            </tr>
        </tbody>
    </table>

    {{ room_name|json_script:"room-name" }}
    <script>

        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const serverSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/server/'
            + roomName
            + '/'
        );

        const choice_btn = document.querySelector('#choice-btn');
        let selectedValue=null;
        choice_btn.onclick = function () {
            const rbs = document.querySelectorAll('input[name="choice"]');

            for (const rb of rbs) {
                if (rb.checked) {
                    selectedValue = rb.value;
                    break;
                }
            }
            document.getElementById('cross-ring-choice').style.display ='none';
        };

        const reset_btn = document.querySelector('#reset-btn')
        reset_btn.onclick = function () {
            console.log('reset');
            serverSocket.send(JSON.stringify({
                'message': 'reset',
                'text': ''
            }));
        };


        serverSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            // prevent from rewriting game-sqaure with another choice
            if(data.message=='reset'){
                location.reload();
            } 
            else if( document.getElementById(data.message).textContent == ''){
                document.getElementById(data.message).textContent = data.text;
            }

            if(data.game_result != false){
                //if game over
                selectedValue=''
                if(data.game_result =='Draw'){
                    document.getElementById('game-result').textContent = 'It\'s a Draw!';
                }
                else{
                    document.getElementById('game-result').textContent='Player: ' + data.game_result + ' wins!';
                }
            }
            else{
                let next_turn = '';
                if(data.text == 'x') {
                    next_turn = 'o';
                }
                else {
                    next_turn = 'x';
                }
                document.getElementById('game-result').textContent = 'Now is ' + next_turn + ' turn!';
            }
        };


        serverSocket.onclose = function(e) {
            console.error('server socket closed unexpectedly');
        };


        const squares = document.querySelectorAll('.game-square');

        squares.forEach((e) => {
            e.onclick = function(event) {
                serverSocket.send(JSON.stringify({
                    'message': e.id,
                    'text': selectedValue
                }));
            }
        }) 
    </script>
</body>
</html>