body{
	background-color: #333333;	
}
.intro{
	color: #f1ab05;
	font-size: 20px;
}
#room-name-input{
	color: white;
	background-color: black;
}
#room-name-submit{
	color: #f1ab05;
	font-size: 20px;
	background-color: black;
	margin-top: 8px;
}
.room-name-wrapper {
	justify-content: center;
	text-decoration: none;
}
.room-name {
    background-color: black;
    margin-top: 10px;
    width: 250px;
    text-align: center;
    color: #f1ab05;
}
.room-name:hover {
	border-color: white;
    border-style: solid;
}
